head {
  width: 675px;
}
body {
  font-family: "Segoe UI";
  max-width: 1080px !important;
  padding: 0px;
  -webkit-text-size-adjust: none;
  text-align: center;
  margin-left: 0px;
}
div.container-quiz {
  max-width: 1080px;
  width: 1050px;
  margin: 15px;
  margin-top: 10px;
  text-align: center;
}
h1 {
  font-size: 70px;
  margin-block-end: 0.25em;
  font-weight: bolder;
  -webkit-text-size-adjust: none;
}
div.alert {
  font-size: 50px;
  margin: 0.25em;
  font-weight: bolder;
  color: gray;
}
div.quiz-name {
  width: 1080px;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  font-variant: small-caps;
}
ul {
  list-style-type: none;
  text-align: left;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  padding: 0;
  font-family: "Segoe UI";
}
button {
  background-color: lemonchiffon;
  color: black;
  font-size: 60px;
  border-radius: 0.75em;
  font-weight: bolder;
  border-style: dashed;
  max-width: 1080px;
  margin: 20px;
  margin-left: 0px;
  width: 900px;
  height: 150px;
  font-family: "Segoe UI";
}

p {
  font-size: 60px;
  -webkit-text-size-adjust: none;
  margin-bottom: 100px;
}
label {
  font-size: 50px;
  max-width: 1080px;
}
input[type="radio"] {
  width: 50px;
  height: 50px;
}
div#score {
  font-size: 50px;
}

li {
  margin-bottom: 10px;
}

h1#question {
  margin-left: 10px;
  font-size: 60px;
  text-align: left;
}

hr {
  width: 1080px;
}
