body {
  font-family: "Segoe UI";
  width: 700px;
  padding: 15px;
  margin: 0px;
}
h1 {
  font-size: 20px;
  font-weight: bolder;
}

div.alert {
  font-size: 16px;
  margin: 0.25em;
  font-weight: bolder;
  color: gray;
}
div.quiz-name {
  font-size: 25px;
  font-variant: small-caps;
}
ul {
  margin: 0;
  text-align: left;
  list-style-type: none;
  font-family: "Segoe UI";
  padding: 0;
}
button {
  background-color: lemonchiffon;
  color: black;
  font-size: 16px;
  border-radius: 0.75em;
  font-weight: bolder;
  border-style: dashed;
  width: 150px;
  font-family: "Segoe UI";
  margin: 10px;
}
p.answers {
  font-size: 20px;
  margin: 0;
  padding: 5px;
}

label {
  display: flex;
  align-items: center;
}

input {
  margin: 0;
  width: 15px;
  height: 15px;
}
